.sidenav-header {
    padding-top: 25px;
    text-align: center;
    > img {
        border-radius: 50%;
        object-fit: cover;
        margin-top: 15px;
    }
    .header-text {
        > h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        > p {
            margin: 0;
            font-size: 0.875rem;
        }
    }
}